# Python
venv/
__pycache__/
*.pyc
*.pyo

# Django
*.log
db.sqlite3
core/settings.py  # We'll exclude settings since it has DB password

# Environment
.env
*.env

# IDE
.vscode/
.idea/
*.swp

# Media
media/
staticfiles/